<h2>
    hey its add emp
</h2>

<a class="nav-link" routerLink="lexEx1">StructralDirective</a>

<div>
    <button type="button" class="btn btn-warning">Warning</button>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://media.licdn.com/dms/image/v2/D4D35AQF-7vTpAPPvMg/profile-framedphoto-shrink_100_100/profile-framedphoto-shrink_100_100/0/1725375796728?e=1738170000&v=beta&t=fsWjne8Bmlr7ZeR3rqmXwh2Vj6Q3MIKIHmi7B9SH8vM" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


  <div>
    <button type="button" class="btn btn-secondary xx" data-toggle="tooltip" data-placement="top" title="lnd">
       jai ho
      </button>
  </div>