<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card text-center">
          <div class="card-header">
            Welcome
          </div>
          <div class="card-body">
            <h5 class="card-title">Welcome to My Developer Portfolio!</h5>
            <p class="card-text">I'm a passionate  <b>Frontend Surgeon</b> with a knack for building elegant solutions. Here you can explore my projects, skills, and more. Enjoy your stay!</p>
            <button class="btn btn-primary mt-3" onclick="window.open('path/to/your/resume.pdf')">Download Resume</button>
          </div>
          <div class="card-footer text-muted">
            © 2025 Ratnakar Mishra
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h5>Connect with me on social media!</h5>
        <a href="https://www.facebook.com/ratnakar.mishra.10236/" target="_blank" class="me-2">
          <img src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png" alt="Facebook">
        </a>
        <a href="https://www.twitter.com" target="_blank" class="me-2">
          <img src="https://img.icons8.com/ios-filled/50/000000/twitter-circled.png" alt="Twitter">
        </a>
        <a href="https://www.linkedin.com/in/contact2ratnakar/" target="_blank" class="me-2">
          <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com/ratnakar.mishr" target="_blank" class="me-2">
          <img src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png" alt="Instagram">
        </a>
      </div>
    </div>
  </div>
  
  